@import 'variables';


.card-course-item {
	margin-top: 16;
}

img.user-avatar {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	margin-right: 4px;
}

a {
	text-decoration: none !important;
}

.select-all-action {
	width: 120px;
}