<div class="mt-4">
	<h3>Đăng khóa học</h3>

	<form method="POST" action="/courses/store">
		<div class=" form-group">
			<label for="name" class="form-label mt-4">Tên khóa học</label>
			<input
				type="text"
				class="form-control"
				id="name"
				placeholder="Nhập tên khóa học"
				name="name"
			/>
		</div>
		<div class="form-group">
			<label for="description" class="form-label mt-4">Mô tả khóa học</label>
			<input
				type="text"
				class="form-control"
				id="description"
				placeholder="Nhập mô tả khóa học"
				name="description"
			/>
		</div>
		<div class="form-group">
			<label for="videoId" class="form-label mt-4">Video ID</label>
			<input
				type="text"
				class="form-control"
				id="videoId"
				placeholder="Nhập videoId của khóa học"
				name="videoId"
			/>
		</div>
		<div class="form-group">
			<label for="level" class="form-label mt-4">Trình độ</label>
			<input
				type="text"
				class="form-control"
				id="level"
				placeholder="Nhập trình độ"
				name="level"
			/>
		</div>
		<div class="form-group">
			<button class="btn btn-primary mt-4" type="submit">Thêm khóa học</button>
		</div>
	</form>
</div>